<div style="background-color: white;">
	<div class="panel-heading">
		<h3>{{dict.timeentries_of}} {{model.customer.name}}</h3>
	</div>
	<nav class="panel-body">
		<a href="index.php?page={{request.page}}&sub=customers&groupId={{model.group.id}}" class="btn btn-warning">&lt;&lt; {{dict.back}}</a>
		{% if model.isOwner %}
		<a href="index.php?page={{request.page}}&sub=editCustomer&customerId={{model.customer.id}}" class="btn btn-primary">
			{{dict.do_edit}} {{model.customer.name}}
		</a>
		<a href="index.php?page={{request.page}}&sub=export&customerId={{model.customer.id}}" class="btn btn-success">
			{{dict.do_export_csv}}
		</a>
		{% endif %}
	</nav>
	<div class="list-group">
		<a href="index.php?page={{request.page}}&sub=mapCustomer&customerId={{model.customer.id}}" class="list-group-item">
			<span class="glyphicon glyphicon-flag"></span> {{dict.address_on_map}}		
		</a>
		{% if model.customer.email %}
		<a href="mailto:{{model.customer.email}}" class="list-group-item">
			<span class="glyphicon glyphicon-envelope"></span> {{dict.email_label}}: {{model.customer.email}}		
		</a>
		{% endif %}
		{% if model.customer.phone %}
		<a href="tel:{{model.customer.phone}}" class="list-group-item">
			<span class="glyphicon glyphicon-earphone"></span> {{dict.phone_label}}: {{model.customer.phone}}		
		</a>
		{% endif %}
	</div>
	<div class="panel-body text-center">
		<form method="post" action="index.php?page={{request.page}}&sub=entries">
			<input type="hidden" name="customerId" value="{{model.customer.id}}"/>
			<input type="hidden" name="recordTime" value="true"/>
		{% if model.running %}
			<button class="btn btn-lg btn-danger time-rec" style="font-size: 200%;" type="submit">{{dict.stop}}</button><br>
			<div class="form-group">
				<input type="text" class="time-rec-comment form-control" maxlength="25" name="timeComment" value="" placeholder="{{dict.comment_placeholder}}" />
			</div>
		{% else %}
			<button class="btn btn-lg btn-success time-rec" style="font-size: 200%;" type="submit">{{dict.start}}</button>
		{% endif %}
		</form>
	</div>
	<table class="table">
		<tr>
			<th>{{dict.groupuser_label}}</th>
			<th>{{dict.start}}</th>
			<th>{{dict.stop}}</th>
			<th>{{dict.time_label}}</th>
			<th>{{dict.comment_label}}</th>
			<th>{{dict.exported}}</th>
		</tr>
		{% for entry in model['entries'] %}
			<tr>
				<td>{{entry.username}}</td>
				<td>{{entry.date}}</td>
				<td>{{entry.dateEnd}}</td>
				<td>{{entry.time}}</td>
				<td>{{entry.model.comment}}</td>
				<td>{{entry.payed}}</td>
			</tr>
		{% endfor %}
	</table>
</div>