<div style="background-color: white;">
	<div class="panel-heading">
		<h3>{{dict.login_label}}</h3>
	</div>
	<div class="panel-body">
		<form method="post">
			<input type="hidden" name="_XW_SESSION_SEC" value="{{model.secToken}}"/>
			<div class="form-group">
				<label for="customerName">{{dict.username_label}}</label>
				<input type="text" class="form-control" id="username" required placeholder="{{dict.username_placeholder}}" name="username"/>
			</div>
			<div class="form-group">
				<label for="customerPhone">{{dict.password_label}}</label>
				<input type="password" class="form-control" id="userpassword" placeholder="" name="userpassword"/>
			</div>
			<button type="submit" class="btn btn-primary">{{dict.do_login}}</button>
		</form>
	</div>
	<div class="panel-footer">
		<a href="index.php?page={{request.page}}&sub=register">{{dict.register_new_account}}</a>
	</div>
</div>